/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.card-post {
  margin: 0 auto 60px;
  max-width: 350px;
  height: 420px;
}

.pagination {
  justify-content: center;
}

.preview-area {
  text-align: center;
}

.preview{
  width: 50%;
  height: 50%;
}

.user-button{
  display: inline-block;
}
